defaults/flow.json
[
  {
    "id": "c0e194ac.54add8",
    "type": "tab",
    "label": "MQTT-BRIDGE",
    "disabled": false,
    "info": ""
  },
  {
    "id": "bccbee36.e3381",
    "type": "tab",
    "label": "JOIN",
    "disabled": false,
    "info": ""
  },
  {
    "id": "43478656.600748",
    "type": "tab",
    "label": "BEDROOM",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2b04c5a8.0a3e6a",
    "type": "mqtt-broker",
    "z": "",
    "name": "cloudmqtt.com",
    "broker": "m14.cloudmqtt.com",
    "port": "12539",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "3c8e1fa1.cb5dd",
    "type": "join-config",
    "z": "",
    "name": ""
  },
  {
    "id": "803a1a4e.001938",
    "type": "server",
    "z": "",
    "name": "Home Assistant",
    "url": "https://home.sriramsv.com",
    "pass": "ironman0408"
  },
  {
    "id": "7e508362.4b36ec",
    "type": "google-api-config",
    "z": ""
  },
  {
    "id": "58501b90.10dbc4",
    "type": "http in",
    "z": "c0e194ac.54add8",
    "name": "",
    "url": "/mqtt/publish",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 420,
    "wires": [
      [
        "d7914559.23e248"
      ]
    ]
  },
  {
    "id": "d7914559.23e248",
    "type": "function",
    "z": "c0e194ac.54add8",
    "name": "parse json",
    "func": "msg.topic=msg.payload.topic;\nmsg.qos=msg.payload.qos;\nmsg.retain=msg.payload.retain;\nmsg.payload=msg.payload.message;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 420,
    "wires": [
      [
        "213acd39.fa90b2",
        "3511cf3d.6b3f8"
      ]
    ]
  },
  {
    "id": "213acd39.fa90b2",
    "type": "mqtt out",
    "z": "c0e194ac.54add8",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "2b04c5a8.0a3e6a",
    "x": 530,
    "y": 420,
    "wires": []
  },
  {
    "id": "3511cf3d.6b3f8",
    "type": "http response",
    "z": "c0e194ac.54add8",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 540,
    "y": 360,
    "wires": []
  },
  {
    "id": "92bf107f.8147c",
    "type": "http in",
    "z": "bccbee36.e3381",
    "name": "",
    "url": "/join",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "d42995cf.299278"
      ]
    ]
  },
  {
    "id": "bcd0238b.1decf",
    "type": "join-message",
    "z": "bccbee36.e3381",
    "name": "",
    "text": "",
    "title": "",
    "url": "",
    "notificationicon": "",
    "joinConfig": "3c8e1fa1.cb5dd",
    "x": 440,
    "y": 140,
    "wires": [
      [
        "452bd911.f086f8"
      ]
    ]
  },
  {
    "id": "d42995cf.299278",
    "type": "function",
    "z": "bccbee36.e3381",
    "name": "",
    "func": "msg.text=msg.payload.text;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 120,
    "wires": [
      [
        "bcd0238b.1decf",
        "81a5993f.2bab48"
      ]
    ]
  },
  {
    "id": "452bd911.f086f8",
    "type": "debug",
    "z": "bccbee36.e3381",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 600,
    "y": 160,
    "wires": []
  },
  {
    "id": "81a5993f.2bab48",
    "type": "http response",
    "z": "bccbee36.e3381",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 390,
    "y": 220,
    "wires": []
  },
  {
    "id": "751843b3.98fbfc",
    "type": "http in",
    "z": "c0e194ac.54add8",
    "name": "",
    "url": "/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "eec26ea3.7a5ca"
      ]
    ]
  },
  {
    "id": "eec26ea3.7a5ca",
    "type": "http response",
    "z": "c0e194ac.54add8",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 370,
    "y": 180,
    "wires": []
  },
  {
    "id": "42cfd1ef.94b1f",
    "type": "mqtt in",
    "z": "bccbee36.e3381",
    "name": "hass state push",
    "topic": "homeassistant/#",
    "qos": "2",
    "broker": "2b04c5a8.0a3e6a",
    "x": 160,
    "y": 520,
    "wires": [
      [
        "90bf0f67.adb1"
      ]
    ]
  },
  {
    "id": "60a4883f.24fe58",
    "type": "debug",
    "z": "bccbee36.e3381",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 440,
    "y": 580,
    "wires": []
  },
  {
    "id": "90bf0f67.adb1",
    "type": "function",
    "z": "bccbee36.e3381",
    "name": "",
    "func": "topic=msg.topic.replace(\"/state\",\"\",-1)\ntopic=topic.split('/').join(\"=:=\");\nmsg.text=topic+\"=:=\"+msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 500,
    "wires": [
      [
        "60a4883f.24fe58",
        "d80c31c1.9eccf"
      ]
    ]
  },
  {
    "id": "d80c31c1.9eccf",
    "type": "join-message",
    "z": "bccbee36.e3381",
    "name": "",
    "text": "",
    "title": "",
    "url": "",
    "notificationicon": "",
    "joinConfig": "3c8e1fa1.cb5dd",
    "x": 620,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "285b22d9.1624ce",
    "type": "inject",
    "z": "43478656.600748",
    "name": "Read Mode at 10pm",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "00 22 * * *",
    "once": false,
    "onceDelay": 0.1,
    "x": 220,
    "y": 100,
    "wires": [
      [
        "8e393514.4740e8"
      ]
    ]
  },
  {
    "id": "8e393514.4740e8",
    "type": "api-current-state",
    "z": "43478656.600748",
    "name": "get state",
    "server": "803a1a4e.001938",
    "halt_if": "",
    "override_topic": true,
    "override_payload": true,
    "entity_id": "sensor.state",
    "x": 440,
    "y": 100,
    "wires": [
      [
        "a68b5344.839da"
      ]
    ]
  },
  {
    "id": "a68b5344.839da",
    "type": "switch",
    "z": "43478656.600748",
    "name": "If Home?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Home",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 100,
    "wires": [
      [
        "d827a5ad.52d228",
        "9d118aa6.e2e038"
      ]
    ]
  },
  {
    "id": "d827a5ad.52d228",
    "type": "api-call-service",
    "z": "43478656.600748",
    "name": "Set Read Mode",
    "server": "803a1a4e.001938",
    "service_domain": "scene",
    "service": "turn_on",
    "data": "{   \"entity_id\": \"scene.readmode\" }",
    "mergecontext": "",
    "x": 810,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "9d118aa6.e2e038",
    "type": "api-call-service",
    "z": "43478656.600748",
    "name": "",
    "server": "803a1a4e.001938",
    "service_domain": "media_player",
    "service": "volume_set",
    "data": "{\"entity_id\":\"media_player.bedroom_speaker\"}",
    "mergecontext": "",
    "x": 880,
    "y": 160,
    "wires": [
      []
    ]
  }
]
